
iOS/Gagein/Gagein.xcodeproj/project.xcworkspace/xcuserdata/dongyiming.xcuserdatad/UserInterfaceState.xcuserstate

iOS/Gagein/Gagein.xcodeproj/xcuserdata/dongyiming.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

iOS/Demo/SalesGraph/.DS_Store
